<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Silva Burger</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Silva burger</h1>
        <p class="description">
          You're gonna need two hands to hold our toasted buns. Our fresh, juicy
          burgers are served up medium-well with a side of fries and a whole lot
          of flavor.
        </p>

        <% if(products.length > 0){%>
        <div class="row">
          <% products.forEach(p=>{%>
          <article class="card">
            <div class="card_details">
              <div class="card_details-box">
                <h2><%= p.name %></h2>
                <p class="price">$<%= p.price %></p>
                <div class="btns-container">
                  <a href="/product/<%= p.id %>" class="btn btn-red"
                    >Read more</a
                  >
                  <form action="/add-to-cart" method="post">
                    <input type="hidden" name="id" value="<%= p.id %>" />
                    <button class="btn btn-border">add to cart</button>
                  </form>
                </div>
              </div>
            </div>
            <img src="<%= p.image %>" alt="<%= p.name %>" />
          </article>
          <%}); %>
        </div>
        <%}else{%>
        <h1>No product to display😴</h1>
        <%} %>
      </div>
    </main>
  </body>
</html>
